/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Nov 2016, 3:50:35 PM
    Author     : User
*/

.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Verdana";
    -fx-base: #999999;
}

/*
Inline style for the labels
*/
.label{
    -fx-text-fill: #cccccc;
}

/*
Inline style for the menu buttons
*/
.button-menu{
    -fx-background-radius: 0;
}

.vbox-canvas{
    -fx-background-color: white;
}

